FRANCE_TRAVAIL_CLIENT_ID=
FRANCE_TRAVAIL_CLIENT_SECRET=
FRANCE_TRAVAIL_SCOPE=api_offresdemploiv2 o2dsoffre
FRANCE_TRAVAIL_TOKEN_URL=https://entreprise.francetravail.fr/connexion/oauth2/access_token?realm=/partenaire
FRANCE_TRAVAIL_SEARCH_URL=https://api.francetravail.io/partenaire/offresdemploi/v2/offres/search

API_SLEEP_SECONDS=1.0
API_PAGE_SIZE=50
API_MAX_PAGES_PER_QUERY=2